.page {
  padding: 0 19px;
  font-family: Inter, Arial, sans-serif;
  color: #fff;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 767px) {
  .page {
    padding: 0;
  }
}
