.logo__name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 73.02%;
  height: 79.57%;
  background-image: url(../../../images/logo/logo__name.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
