.card__like-button {
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/card/like-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
