.logo {
  position: relative;
  display: block;
  width: 142px;
}

.logo::after {
  content: '';
  display: block;
  padding-bottom: 23.23%;
}

.logo:hover .logo__country{
  transform: rotate(-90deg) translate(-10%, -20%) scale(0.7);
}
