.logo {
  display: block;
  width: 142px;
  background-image: url(../../images/logo/logo.svg);
  background-size: cover;
  background-position: center;
}

.logo::after {
  content: '';
  display: block;
  padding-bottom: 23.23%;
}
