.form__input {
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  font-size: 14px;
  margin: 0 0 29px 0;
}

.form__input:invalid {
  border-color: #FF8C8C;
}

.form__input:last-of-type {
  margin: 0;
}

.form__input:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}
