.profile__info {
  display: grid;
  grid-template-columns: auto min-content;
  row-gap: 7px;
  column-gap: 18px;
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .profile__info {
    justify-items: center;
    column-gap: 10px;
    transform: translate(23px, 0);
    margin-bottom: 33px;
    padding-right: 20px;
  }
}
