.server-error__reload-link {
  display: block;
  box-sizing: border-box;
  padding: 14px;
  min-height: 50px;
  color: white;
  background-color: #000;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .server-error__reload-link {
    font-size: 14px;
    min-height: 46px;
  }
}
